#chat1 {
	border: 1px solid white;
	width: 70%;
	text-align: left;
	margin-left: 50%;
	margin-top: 2%;
	transform: translateX(-50%);
	border-radius: 10px;
	overflow: hidden;
}

#chat1 .user-from-chat1 {
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
}

#chat1 .message-from-chat1 {
	display: inline-block;
}

#chat1 .user-and-message1 {
	padding: 0.5% 0% 0.5% 0;
	overflow: hidden;
	padding-left: 0.7%;
}

.whole-message1:nth-of-type(odd) {
	background: rgba(0, 0, 0, 0.4);
  }

.whole-message1:nth-of-type(even) {
	background: rgba(255, 255, 255, 0.1);
}




#chat1 .message-time1 {
	padding-right: 5px;
	font-size: 12px;
}

td {
	border: none;
}

.input1 td {
	width: 100%;
}

.input1 {
	width: 100%;
}

.input1 form {
	width: 100%;
	overflow: hidden;
}

#input-chat1 {
	width: 100%;
	background: rgba(25, 25, 25, 0.8);
	border-radius: 10px;
	font-size: 20px;
	padding: 1% 0 1% 1%;
	border: none;
	color: #b8b8b8;
}

#input-chat:focus {
	border: none;
}






#chat {
	display: none;
}

#chat .user-from-chat {
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
}

#chat .message-from-chat {
	display: inline-block;
}

#chat .user-and-message {
	padding: 1% 3% 1% 0;
	overflow: hidden;
}

#chat {
	border: 1px solid white;
	width: 70%;
	text-align: left;
	margin-left: 50%;
	margin-top: 2%;
	transform: translateX(-50%);
	border-radius: 10px;
}

#chat .whole-message {
	padding-left: 1%;
	overflow: hidden;	
	padding-right: 1%;
}

.whole-message:nth-of-type(odd) {
	background: rgba(0, 0, 0, 0.4);
  }

.whole-message:nth-of-type(even) {
	background: rgba(255, 255, 255, 0.1);
}

.whole-message::after {
	content: "";
	clear: both;
}

.message-time {
	float: right;
	font-size: 12px;
}

.input {
	width: 100%;
}

.input form {
	width: 100%;
	overflow: hidden;
}

#input-chat {
	width: 100%;
	background: rgba(25, 25, 25, 0.8);
	border-radius: 10px;
	font-size: 20px;
	padding: 1% 0 1% 1%;
	border: none;
	color: white;
}

#input-chat:focus {
	border: none;
}




#games>div{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
	
}

#games figure {
	width: 45%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-top: 0px;
}


#games figure img {
	width: 100%;       
	height: auto;
	margin-bottom: 1%;
	border-radius: 5px;
	transition: 0.5s;
}

#games figure img:hover {
	filter: brightness(30%);
}

#games figure figcaption{
	text-align: center;
	font-size: 30px;
	margin: 0px;
	padding-top: 5%;
	padding-bottom: 5%;
}

#games a {
	text-decoration: none;
	color: #bebac2;
	
}



.image-container img {
  width: 100%;
  height: auto;
}

.image-container .playbtn {
	display: block;
  	position: fixed;
  	top: 38%;
  	left: 26.7%;
  	transform: translate(-50%, -50%);
  	ms-transform: translate(-50%, -50%);
  	background-color: #322145;
  	color: white;
  	font-size: 16px;
  	padding: 20px 40px;
  	border: none;
  	cursor: pointer;
  	border-radius: 5px;
	height:10px;
	width:15px;
}

.image-container .playbtn:hover {
  background-color: #1b0024;
}

.image-container img:hover + .playbtn, .playbtn:hover{
  display:inline-block;
}




