:root {
    --main-color: black;
}
*{
    box-sizing: border-box;
}
body, html{
    background-color: var(--main-color);
    color: white;
    /* min-height: calc(100vh - 10px); */
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
}

header{
    /* style  */
}

main{
    /* max-width: 1300px !important; */  /* daca vrem sa nu se intinda pe toata latimea ecranului */
    min-height: calc(100vh - 100px); /* ca sa impinga footerul pana jos */
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(31, 92, 78);
}

footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: var(--main-color-2);
}