<!DOCTYPE html>
<html>
    <head>
		
    </head>
    <body>

        <main>
			<button id="hit">hit</button>
			<button id="stand">stand</button>
			<button id="roundStart">new round</button>
		</main>
		
        <script src="../../js/blackjack.js"></script>
    </body>
    
</html>