<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Cazino Roial Poker Page">
		<meta name="keywords" content="casino, cazino, roial, royale, poker, ruleta, slots, pacanele, blackjack">
		<meta name="author" content="Hîrhui Călin, Smeu Ștefan, Tică Constantin, Tudorache Theodor, Zaharia Cătălin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Cazino Roial - Poker</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico"/>
		<link href="../../css/layout.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/poker.css">
        <script defer  src="/socket.io/socket.io.js"></script>
        <script defer  src="/js/socketIO.js"></script>
        <script defer  src="/js/poker.js"></script>
        <script src="/js/home.js"></script>
    </head>
    <body>

        <%- include('../partials/header') %>
        <br>
		<div id = "lobbyList" class="">
			<button id="create" class="create_join_btn">Creează o nouă cameră</button>
			<input type="text" class="lobbyList" placeholder="Numele noii camere" maxlength="12" id="roomName" ><br>
			<button id="show_rooms" class="create_join_btn">Arată camerele existente</button>
			<ul id="rooms" class="hidden">
                <!-- Exemplu elemente li
				<li><div class="room_name">♣ R</div><button id="go" class="joinbtn"> Intră </button ><div class="number_of_players">1/5</div></li>
				<li><div class="room_name">♣ R0</div><button class="joinbtn"> Intră </button><div class="number_of_players">2/5</div></li>
                -->
			</ul>
		</div>

        <main id="poker_table" class="hidden">
			<!--
			<button class = "sit2 leavebtn">Părăsește camera</button>
			-->
			
			<div class="startbtn" id="startGame" class="hidden">
				Incepe jocul
			</div>
			
			<div class="leavebtn" id="leaveGame">
				<img src="/img/poker/exit.png">
			</div>
			
			
			
            <div class="table-wrapper lobby">
                <div class="table lobby">
                    <div class="inner-circle lobby">CAZINO ROIAL</div>
                </div>
            </div>
			
			<div id="pot">
				0 RP
			</div>
			
			<div id="dealer-token" class="token-at-player3">
				<img src="/img/poker/chip_dealer.png" class="profile lobby">
			</div>

			<table cellspacing="0" cellpadding="0" id="chat1">
				<tr class="whole-message1">
					<td class="user-and-message1">
						<div class="user-from-chat1">♠️ User1:</div> salutare1salutasalddddddd dddddddddddd ddddddddddddddddddddddddddddd ddddddddddddddddddt are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
					</td>
					<td class="message-time1">
						<span class="message-time1">12:50</span>
					</td>
				</tr>
	
				<tr class="whole-message1">
					<td class="user-and-message1">
						<div class="user-from-chat1">♠️ User2:</div> salutare1salutasalut are1re1sutare1ssalutare1 salutasaaaaaalutaraae1reaaa1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
					</td>
					<td class="message-time1">
						<span class="message-time1">12:50</span>
					</td>
				</tr>
	
				<tr class="whole-message1">
					<td class="user-and-message1">
						<div class="user-from-chat1">♠️ User3:</div> salutare1salutasalut re1</div> </th>
					</td>
					<td>
						<span class="message-time1">12:50</span>
					</td>
				</tr>
	
				<tr class="whole-message1">
					<td class="user-and-message1">
						<div class="user-from-chat1">♠️ User4:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
					</td>
					<td>
						<span class="message-time1">12:50</span>
					</td>
				</tr>
	
				<tr class="whole-message1">
					<td class="user-and-message1">
						<div class="user-from-chat1">♠️ User5:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
					</td>
					<td>
						<span class="message-time1">12:50</span>
					</td>
				</tr>
	
				<tr class="input1">
					<td colspan="2">
						<form method="post">
							<input type="text" placeholder="Introduceti textul aici" id="input-chat1">
							<button type="submit" id="send_message" class="hidden">trimite</button>
						</form>
					</td>
				</tr>
			</table>
			
			<!--
			<div id="cards">
				
					<div id="card1" class="card black-card"><div class="value">7</div><div class="symbol">♣️</div></div> 
					<div id="card2" class="card red-card"><div class="value">8</div><div class="symbol">♦️</div></div>
					<div id="card3" class="card red-card"><div class="value">9</div><div class="symbol">♥️</div></div>
					<div id="card4" class="card black-card"><div class="value">10</div><div class="symbol">♠️</div></div>
					<div id="card5" class="card red-card"><div class="value">K</div><div class="symbol">♥️</div></div>
				
					
					
			</div> -->
			
			
			<div id="cards1">
				<div id="ccard1" class=""></div>
				<div id="ccard2" class=""></div>
				<div id="ccard3" class=""></div>
				<div id="ccard4" class=""></div>
				<div id="ccard5" class=""></div>
			</div>

			<div class="sit1 lobby">
				<div class="images lobby">
					<img src="/img/avatars/no_avatar.png" class="profile lobby">
					<img src="/img/avatars/deck_5_large.png" class="card1 lobby" id="card1">
					<img src="/img/avatars/deck_5_large.png" class="card2 lobby" id="card2">
				</div>
				<div class="banner lobby">
					<div class="username" id="username1">
						Empty Sit
					</div>
					<div class="balance" id="balance1">
						0 RP
					</div>
				</div>
			</div>
			
			<div id="pot-player1">
				0 RP
			</div>

			<div class="sit2 lobby">
				<div class="images lobby">
					<img src="/img/avatars/no_avatar.png" class="profile lobby">
					<img src="/img/avatars/deck_5_large.png" class="card1 lobby" id="card3">
					<img src="/img/avatars/deck_5_large.png" class="card2 lobby" id="card4">
				</div>
				<div class="banner lobby">
					<div class="username" id="username2">
					    Empty Sit
					</div>
					<div class="balance" id="balance2">
						0 RP
					</div>
				</div>
			</div>
				
			<div id="pot-player2">
				0 RP
			</div>

			<div class="sit3 lobby">
				<div class="images lobby">
					<img src="/img/avatars/no_avatar.png" class="profile lobby">
					<img src="/img/avatars/deck_5_large.png" class="card1 lobby" id="card5">
					<img src="/img/avatars/deck_5_large.png" class="card2 lobby" id="card6">
				</div>
				<div class="banner lobby">
					<div class="username" id="username3">
						Empty Sit
					</div>
					<div class="balance" id="balance3">
						0 RP
					</div>
				</div>
			</div>
			
			<div id="pot-player3">
				0 RP
			</div>


			<div class="sit4 lobby">
				<div class="images lobby">
					<img src="/img/avatars/no_avatar.png" class="profile lobby">
					<img src="/img/avatars/deck_5_large.png" class="card1 lobby" id="card7">
					<img src="/img/avatars/deck_5_large.png" class="card2 lobby" id="card8">
				</div>
				<div class="banner lobby">
					<div class="username" id="username4">
						Empty Sit
					</div>
					<div class="balance" id="balance4">
						0 RP
					</div>
				</div>
			</div>
			
			<div id="pot-player4">
				0 RP
			</div>


			<div class="sit5 lobby">
				<div class="images lobby">
					<img src="/img/avatars/no_avatar.png" class="profile lobby">
					<img src="/img/avatars/deck_5_large.png" class="card1 lobby" id="card9">
					<img src="/img/avatars/deck_5_large.png" class="card2 lobby" id="card10">
				</div>
				<div class="banner lobby">
					<div class="username" id="username5">
						Empty Sit
					</div>
					<div class="balance" id="balance5">
						0 RP
					</div>
				</div>
			</div>
			
			<div id="pot-player5">
				0 RP
			</div>
			
			<div class="play-buttons">
				<button id="fold" class="hidden"> FOLD </button>
				<button id="check" class="hidden"> CHECK </button>
				<button id="call" class="hidden" > CALL </button>
				
				<button id="bet"  class="hidden"> BET </button>
				<div id="slider" class="slider-container hidden">
					<input type="range"  min="1" max="100" value="1" class="slider" id="slider_input"></input>
				</div>
				<button id="bet_amount" class="hidden"> 100 RP </button>

				<button id="raise" class="hidden"> RAISE </button>
				<div id="sliderRaise" class="slider-container hidden">
					<input type="range"  min="1" max="100" value="1" class="slider" id="slider_input_raise"></input>
				</div>
				<button id="raise_amount" class="hidden"> 100 RP </button>
				
			</div>
		</main>
		

        <%- include('../partials/footer') %>
        
    </body>
    
</html>