<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Cazino Roial Poker Page">
		<meta name="keywords" content="casino, cazino, roial, royale, poker, ruleta, slots, pacanele, blackjack">
		<meta name="author" content="Hîrhui Călin, Smeu Ștefan, Tică Constantin, Tudorache Theodor, Zaharia Cătălin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Cazino Roial - Poker</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico"/>
		<link href="../../css/layout.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/poker.css">
        <script defer  src="/js/poker.js"></script>
        <script defer  src="/socket.io/socket.io.js"></script>
        <script defer  src="/js/socketIO.js"></script>
        <script src="/js/home.js"></script>
    </head>
    <body>

        <%- include('../partials/header') %>

        <main>

            <div class="table-wrapper">
                <div class="table">
                    <div class="inner-circle">CAZINO ROIAL</div>
                </div>
            </div>


        </main>

        <div class="sit1">
            <div class="images">
                <img src="/img/avatars/no_avatar.png" class="profile">
                <img src="/img/avatars/deck_5_large.png" class="card1">
                <img src="/img/avatars/deck_5_large.png" class="card2">
            </div>
            <div class="banner">Username
                <br>
                300 RP
            </div>
        </div>

        <div class="sit2">
            <div class="images">
                <img src="/img/avatars/no_avatar.png" class="profile">
                <img src="/img/avatars/deck_5_large.png" class="card1">
                <img src="/img/avatars/deck_5_large.png" class="card2">
            </div>
            <div class="banner">Username
                <br>
                300 RP
            </div>
        </div>


        <div class="sit3">
            <div class="images">
                <img src="/img/avatars/no_avatar.png" class="profile">
                <img src="/img/avatars/deck_5_large.png" class="card1">
                <img src="/img/avatars/deck_5_large.png" class="card2">
            </div>
            <div class="banner">Username
                <br>
                300 RP
            </div>
        </div>



        <div class="sit4">
            <div class="images">
                <img src="/img/avatars/no_avatar.png" class="profile">
                <img src="/img/avatars/deck_5_large.png" class="card1">
                <img src="/img/avatars/deck_5_large.png" class="card2">
            </div>
            <div class="banner">Username
                <br>
                300 RP
            </div>
        </div>



        <div class="sit5">
            <div class="images">
                <img src="/img/avatars/no_avatar.png" class="profile">
                <img src="/img/avatars/deck_5_large.png" class="card1">
                <img src="/img/avatars/deck_5_large.png" class="card2">
            </div>
            <div class="banner">Username
                <br>
                300 RP
            </div>
        </div>

        <%- include('../partials/footer') %>
        
    </body>
    
</html>