<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CazinoRoial - Ruleta</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/home.css">

        <script src="/js/home.js"></script>
        <script defer  src="/socket.io/socket.io.js"></script>
        <script defer  src="/js/socketIO.js"></script>
    </head>
    <body>
        <%- include('../partials/header') %>
        
        <main>
            <h1>Roulette -> RP$$$$$</h1>

            <button type="button" id="btn1">Add 5 rp</button>
            <button type="button" id="btn2">Subtract 10 rp</button>
        </main>
        
        <%- include('../partials/footer') %>
    </body>
</html>