<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CazinoRoial - Slots</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/home.css">

        <script src="/js/home.js"></script>
    </head>
    <body>
        <%- include('../partials/header') %>
        
        <main>
            <h1>Slots -> RP$$$$$</h1>
        </main>
        
        <%- include('../partials/footer') %>
    </body>
</html>