<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Cazino Roial Home Page">
		<meta name="keywords" content="casino, cazino, roial, royale, poker, ruleta, slots, pacanele, blackjack, home, acasa">
		<meta name="author" content="Hîrhui Călin, Smeu Ștefan, Tică Constantin, Tudorache Theodor, Zaharia Cătălin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Cazino Roial - Home</title>
		<link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico"/>
		<link href="../../css/layout.css" rel="stylesheet" type="text/css">
		<link href="../../css/index.css" rel="stylesheet" type="text/css">
		<script src="/js/home.js"></script>
		<script defer  src="/socket.io/socket.io.js"></script>
        <script defer  src="/js/socketIO.js"></script>
	</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main>
		<% if (locals.user) { %>
		<table cellspacing="0" cellpadding="0" id="chat1">
			<tbody>
				<!--
			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User1:</div> salutare1salutasaluddddddddddddddddddddddddddddddddddddddddd dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddt are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
				</td>
				<td class="message-time1">
					<span class="message-time1">12:50</span>
				</td>
			</tr>

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User2:</div> salutare1salutasalut are1re1sutare1ssalutare1 salutasaaaaaalutaraae1reaaa1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
				</td>
				<td class="message-time1">
					<span class="message-time1">12:50</span>
				</td>
			</tr>

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User3:</div> salutare1salutasalut re1</div> </th>
				</td>
				<td>
					<span class="message-time1">12:50</span>
				</td>
			</tr>

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User4:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
				</td>
				<td>
					<span class="message-time1">12:50</span>
				</td>
			</tr>

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User5:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
				</td>
				<td>
					<span class="message-time1">12:50</span>
				</td>
			</tr>

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User6:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
				</td>
				<td>
					<span class="message-time1">12:50</span>
				</td>
			</tr>

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User7:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
				</td>
				<td>
					<span class="message-time1">12:50</span>
				</td>
			</tr>

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User8:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
				</td>
				<td>
					<span class="message-time1">12:50</span>
				</td>
			</tr>
			

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ User9:</div> salutare1sa luta alutare 1s alutare1</div> </th>
				</td>
				<td>
					<span class="message-time1">12:50</span>
				</td>
			</tr>

			<tr class="whole-message1">
				<td class="user-and-message1">
					<div class="user-from-chat1">♠️ Usedada:</div> utare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> </th>
				</td>
				<td>
					<span class="message-time1">12:50</span>
				</td>
			</tr>
			-->
			
			</tbody>
			
			<tfoot>
				<tr class="input1">
					<td colspan="2">
						<form method="post">
							<input type="text" placeholder="Introduceti mesajul aici" id="input-chat1">
							<button type="submit" class="hidden" id="send_message"></button>
						</form>
					</td>
				</tr>
			</tfoot>
			
		</table>
		<% } %>


		<!---
		<section id="chat">
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasaluddddddddddddddddddddddddddddddddddddddddd
				dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddt are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<span class="message-time">12:50</span>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<span class="message-time">12:50</span>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<span class="message-time">12:50</span>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<span class="message-time">12:50</span>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<span class="message-time">12:50</span>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<span class="message-time">12:50</span>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasalut are1ral utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<span class="message-time">12:50</span>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutasalutare1sa lus alutare1</div> 
				<span class="message-time">12:50</span>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<div class="message-time">12:50</div>
			</div>
			<div class="whole-message">
				<div class="user-and-message"><div class="user-from-chat">♠️ User1:</div> salutare1salutasalut are1re1salutare1ssalutare1 salutasalutare1re1 ssal utare1salutasalutare1re1salutare1 salutare1sa lutare1salutare1salutare1sa lutare1ssssss alutare 1s alutare1</div> 
				<div class="message-time">12:50</div>
			</div>

			<div class="input">
				<form>
					<input type="text" placeholder="Introduceti textul aici" id="input-chat">
				</form>
			</div>
		</section>
		-->

		<section id="games">
			<div>
				<figure>
					<a href = "../games/roulette">
						<!--<div class = "image-container">--->
							<img src="../../img/roulette.jpg" alt="daroulette" title="Joacă la ruletă">
							<!--<div class="playbtn">Play</div>
						</div>-->
					</a>
						<figcaption>Ruleta</figcaption>
				</figure>
				<figure>
					<a href = "../games/slots">
							<img src="../../img/slots.jpg" alt="slots" title="Joacă slots">
					</a>
						<figcaption>Slots</figcaption>
				</figure>
			</div>
			<div>
				<figure>
					<a href = "../games/poker">
						<img src="../../img/poker.jpg" alt="poker" title="Joacă poker">
					</a>
						<figcaption>Poker</figcaption>
				</figure>
				<figure>
					<a href = "#">
						<img src="../../img/blackjack.jpg" alt="blackjack" title="Joacă blackjack">
					</a>
						<figcaption>Blackjack</figcaption>
				</figure>
			</div>
		</section>
	</main>
	
  <%- include('../partials/footer.ejs') %>
</body>
</html>
