<footer>
	  <hr>
    <h2>Contact</h2>
  	
	  	<div>
			<figure class="social">
					<a href="https://www.facebook.com/Cazino-Roial-107762818156520"><img src="../../img/facebook.png"></a>
					<figcaption> Cazino Roial </figcaption>
			</figure>
			<figure class="social">
					<a href="#"><img src="../../img/instagram.png"></a>
					<figcaption> @cazinoroial </figcaption>
			</figure>
		
			<figure class="contact">
					<a href="mailto:contact@thcinema.ro" target="_top"> <img src="../../img/email.png" > </a>
					<figcaption> contact@cazinoroial.ro </figcaption>
			</figure>
			
			<figure class="contact">
					<img src="../../img/phone.png">
					<figcaption>0215076800</figcaption>
			</figure>
		</div>
	  <hr>
	  <div class="copyright">&copy;2021-Cazino Roial. All rights reserved.</div>
	  <hr>
  </footer>