<header> 
	<a href="">
		<a href="/"><h4 class="logo">Cazino Roial</h4></a>
	</a>
	<nav>
		<ul class>
			<a href="../games/roulette"><li><i class = "icon"><img src="../../img/ruleta.png"></i>RULETA</li></a>
			<a href="../games/slots"><li><i class = "icon"><img src="../../img/slots.png"></i>SLOTS</li></a>
			<a href="../games/poker"><li><i class = "icon"><img src="../../img/cards.png"></i>POKER</li></a>
			<a href="#"><li><i class = "icon"><img src="../../img/cards.png"></i> BLACKJACK</li></a>
			<div class = "user">
				<% if (locals.user) { %>
					<div>
						<span>User: <%= user.username %> - RoialPointz: <%= user.rp %></span>
						<%- include('../partials/logout') %>
					</div>
				<% } else { %>
					<li><a href="/accounts/login">LOGARE</a></li>
					<li><a href="/accounts/register">CREAZĂ CONT</a></li>
				<% } %>
			</div>
		  </ul>
	</nav>
</header>